// Input label height for large forms
.ant-form.ant-form-large .ant-form-item-label > label {
    height: 24px;
}

.ant-dropdown-menu {
    border-radius: 8px !important;
}

.ant-menu-dark.ant-menu-inline .ant-menu-item,
.ant-menu-dark.ant-menu-inline-collapsed .ant-menu-item {
    &:first-of-type {
        margin-top: 0 !important;
    }
}

// === Add / Edit Property Form ===

.add-edit-property-form {
    .title-section {
        .ant-form-item-control-input {
            // flex: 1;

            &-content {
                // height: 100%;

                textarea {
                    // height: 100%;
                }
            }
        }
    }
}