// Input label height for large forms
.ant-form.ant-form-large .ant-form-item-label > label {
    height: 24px;
}

.ant-dropdown-menu {
    border-radius: 8px !important;
}

.ant-menu-dark.ant-menu-inline .ant-menu-item {
    &:first-of-type {
        margin-top: 0;
    }
}